:root {
    --bg-light: #F0F2FA;
    --bg-white: #F6F6FF;
    --text-dark: #0A0040;
    --color-primary: #6143FF;
    --wd-sidebar: 80px;
    --h-menu-nav: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-white);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar{
    width: var(--wd-sidebar);
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--bg-white);
}

.sidebar .logo{
    width: 100%;
    padding: 10%;
    font-size: 32px;
    color: var(--bg-white);
    font-weight: 500;
}

.content nav{
    width: calc(100vw - var(--wd-sidebar));
    height: var(--h-menu-nav);
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    -webkit-box-shadow: 2px 4px 8px -6px var(--text-dark);
    -moz-box-shadow: 2px 4px 8px -6px var(--text-dark);
    box-shadow: 2px 4px 8px -6px var(--text-dark);
}

.content nav a{
    text-decoration: none;
}

.btn {
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: -1px 4px -8px -6px var(--text-dark);
    -moz-box-shadow: -1px 4px -8px -6px var(--text-dark);
    box-shadow: -1px 4px 8px -6px var(--text-dark);
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--bg-white);
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: var(--bg-light);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: all 0.3s ease-in-out;
}

main{
    padding: 20px;
    display: flex;
}

.graph{
    flex: 1;
}

.list{
    flex: 2;
    padding-left: 20px;
    margin-top: 5px;
}

.graph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.graph-header .line{
    margin-left: -50px;
    width: 100px;
    height: 2px;
    background-color: var(--color-primary);
}

.graph-header .date{
    padding-right: 20px;
}

.graph-header-subtitle{
    margin-top: 20px;
}

.graph-placeholder{
    width: 300px;
    height: 300px;
    background-color: #6143FF;
    margin: 20px 0 0 35px;
}

.graph-tasks-left{
    margin: 20px 0 0 35px;
}

.list-header{
    margin-bottom: 10px;
}
.list-header select{
    width: 180px;
    color: var(--color-primary);
    background-color: var(--bg-white);
    border: none;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
}

.list-header select option{
    color: var(--color-primary);
    background-color: var(--bg-white);
    border: none;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
}

.list .tasks{
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--bg-light);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.list .tasks:hover{
    background-color: var(--bg-light);
}

.list .tasks  .task-title{
    display: flex;
}

.list .tasks  .task-title input{
    margin-right: 10px;
}

.list .tasks .task-priority{
    display: flex;
    align-items: center;
}

.list .tasks .task-priority .sphere{
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 11px;
}

.list .tasks .task-action a{
    margin-left: 20px;
}

