:root {
    --bg-light: #F0F2FA;
    --bg-white: #F6F6FF;
    --text-dark: #0A0040;
    --color-primary: #6143FF;
    --wd-sidebar: 80px;
    --h-menu-nav: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-white);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar{
    width: var(--wd-sidebar);
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--bg-white);
}

.sidebar .logo{
    width: 100%;
    padding: 10%;
    font-size: 32px;
    color: var(--bg-white);
    font-weight: 500;
}

.content nav{
    width: calc(100vw - var(--wd-sidebar));
    height: var(--h-menu-nav);
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    -webkit-box-shadow: 2px 4px 8px -6px var(--text-dark);
    -moz-box-shadow: 2px 4px 8px -6px var(--text-dark);
    box-shadow: 2px 4px 8px -6px var(--text-dark);
}

.content nav a{
    text-decoration: none;
}

.btn {
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: -1px 4px -8px -6px var(--text-dark);
    -moz-box-shadow: -1px 4px -8px -6px var(--text-dark);
    box-shadow: -1px 4px 8px -6px var(--text-dark);
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--bg-white);
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: var(--bg-light);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: all 0.3s ease-in-out;
}

main{
    width: calc(100vw - var(--wd-sidebar));
    padding: 20px;
    display: flex;
}

.graph{
    flex: 1;
}

.list{
    flex: 2;
    padding-left: 20px;
    margin-top: 5px;
}

.graph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.graph-header h2{
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;
}
.graph-header .line{
    width: 40px;
    height: 2px;
    background-color: var(--color-primary);
}

.graph-header .date{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.graph-header .date input[type="date" i] {
    color: 14px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    border: 0;
    outline: 0;
}

.graph-header-subtitle{
    margin-top: 20px;
}

.graph-placeholder{
    margin: 80px 0 80px 35px;
    width: 300px;
    height: 300px;
    background: url('/assets/images/graph.png');
    background-size: contain;
}

.graph-tasks-left{
    margin: 20px 0 0 35px;
    display: flex;
    align-items: center;
}

.graph-tasks-left img{
    margin-right: 10px;
}

.list-header{
    margin-bottom: 10px;
}
.list-header select{
    width: 180px;
    color: var(--color-primary);
    background-color: var(--bg-white);
    border: none;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
}

.list-header select option{
    color: var(--color-primary);
    background-color: var(--bg-white);
    border: none;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
}

.list .tasks{
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--bg-light);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.list .tasks:hover{
    background-color: var(--bg-light);
}

.list .tasks  .task-title{
    display: flex;
}

.list .tasks  .task-title input{
    margin-right: 10px;
}

.list .tasks .task-priority{
    display: flex;
    align-items: center;
}

.list .tasks .task-priority .sphere{
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 11px;
}

.list .tasks .task-action a img {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task-action a img:hover{
    transform: scale(1.20);
}


@media (max-width: 599px){
    .sidebar{
        display: none;
    }

    .sidebar .logo{
        font-size: 20px;
        margin-left: -5px;
    }

    .content nav{
        width: 100vw
    }

    main, .graph-header, .list, .tasks{
        flex-direction: column;
        height: auto;
    }

    .graph-header h2{
        text-align: left;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .graph .line{
        display: none;
    }

    .graph-header .date{
        margin-left: -40px !important;
        margin-bottom: 20px;
    }

    .graph-placeholder {
        width: 250px;
        height: 250px;
    }

    .graph-tasks-left {
        width: 100%;
        font-size: 14px;
        margin-bottom: 40px;
    }

    .tasks {
        width: 300px !important;
        display: flex;
        flex-direction: row;
        font-size: 10px;
        gap: 10px;
    }

    .task-title, .task-priority, .task-action{
        display: flex;

    }
}
